<nav>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Manga API</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with plus icon">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</nav>
